/*
* CSS for button block
*/

.wp-block-button {
  &.is-style-primary {
    a {
      border: 1px solid var(--color-border);
      color: var(--color-charcoal);
      background-color: var(--color-chalk);
      transition: background-color 0.3s ease, color 0.3s ease;

      &:hover {
        background-color: var(--color-citrus);
      }
    }
  }
}
