/* '@fonts/*' is defined in vite.config.js */

@font-face {
  font-family: 'Matter Medium';
  src: url('@fonts/MatterMedium/MatterMedium.woff');
  src: url('@fonts/MatterMedium/MatterMedium.woff2') format('woff2');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Swiss Time';
  src: url('@fonts/SwissTime/SwissTime-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Swiss Time';
  src: url('@fonts/SwissTime/SwissTime-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Swiss Time';
  src: url('@fonts/SwissTime/SwissTime-Medium.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Swiss Time';
  src: url('@fonts/SwissTime/SwissTime-MediumItalic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Swiss Time';
  src: url('@fonts/SwissTime/SwissTime-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Swiss Time';
  src: url('@fonts/SwissTime/SwissTime-SemiBoldItalic.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Swiss Time';
  src: url('@fonts/SwissTime/SwissTime-Bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Swiss Time';
  src: url('@fonts/SwissTime/SwissTime-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Swiss Time';
  src: url('@fonts/SwissTime/SwissTime-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: 'Swiss Time';
  src: url('@fonts/SwissTime/SwissTime-ExtraBoldItalic.woff2') format('woff2');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Swiss Time';
  src: url('@fonts/SwissTime/SwissTime-Black.woff2') format('woff2');
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: 'Swiss Time';
  src: url('@fonts/SwissTime/SwissTime-BlackItalic.woff2') format('woff2');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

/*
@font-face {
  font-family: 'Aeonik';
  src: url('@fonts/Aeonik/aeonik-light.woff2') format('woff2'),
      url('@fonts/Aeonik/aeonik-light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Aeonik';
  src: url('@fonts/Aeonik/aeonik-bold.woff2') format('woff2'),
      url('@fonts/Aeonik/aeonik-bold.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
} */
